{% extends 'base.html.twig' %}

{% block title %}Edycja O nas{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="mb-4 text-center fw-bold">Zmień dane w sekcji "O nas"</h1>

        <form method="post" action="{{ path('onas_update', {'id': onas.id}) }}" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="tytul" class="form-label">Tytuł</label>
                <input name="tytul" type="text" class="form-control" id="tytul" required value="{{ onas.tytul }}">
            </div>

            <div class="mb-3">
                <label for="opis" class="form-label">Opis</label>
                <textarea name="opis" class="form-control" id="opis" required>{{ onas.opis }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary w-100">Zmień</button>
        </form>

        <p class="mt-3 text-center">
            <a href="{{ path('onas_option') }}" class="btn btn-secondary">Wróć do listy "O nas"</a>
            <a href="{{ path('list') }}" class="btn btn-secondary">Wróć do strony głównej</a>
        </p>
    </main>
{% endblock %}
