{% extends 'base.html.twig' %}

    {% block title %}Edycja kontaktu{% endblock %}

{% block body %}

<main class="container">
    <h1 class="mb-4 text-center fw-bold">Zmień dane w sekcji "kontakt"</h1>

    <form method="post" action="{{ path('kontakt_update', {'id': kontakt.id}) }}">
        <div class="mb-3">
            <label for="numerTel" class="form-label">Numer telefonu</label>
            <input name="numerTel" type="number" class="form-control" id="numerTel" required value="{{ kontakt.numerTel }}">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="email" required value="{{ kontakt.email }}">
        </div>

        <div class="mb-4">
            <label for="adres" class="form-label">Adres</label>
            <input name="adres" type="text" class="form-control" id="adres" required value="{{ kontakt.adres }}">
        </div>

        <button type="submit" class="btn btn-primary w-100">Zmień</button>
    </form>

    <p class="mt-3 text-center">
        <a href="{{ path('kontakt_option') }}" class="btn btn-secondary">Wróć do listy kontaktów</a>
        <a href="{{ path('list') }}" class="btn btn-secondary">Wróć do strony głównej</a>
    </p>
</main>

{% endblock %}

